<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>
<div class="Counts">
<h2>There are <%= Product.count %> different products 
and <%= Category.count %> unique categories <h2>
<div>

